# Ignorar la configuración privada y base de datos
api/config.php

# Ignorar la carpeta de subidas por defecto si está dentro del proyecto
uploads/
media/
files/

# Archivos del SO
.DS_Store
Thumbs.db

*.py
test_*.ps1
debug_*
